body {
  font-family: "Arial", "Meiryo", sans-serif;
}
#heading {
  color: rgb(255, 192, 203) ;
}
#second-paragraph {
  color: skyblue;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.0rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px skyblue;
  border-bottom: 3px solid rgb(115, 115, 114)
}
html{
  font-size: 20px;
  text-align: center;
}
hr{
  color:rgb(115, 115, 114)
}
#parent div{
  font-weight:bold;
}
#parent {
  font-weight:bold;
}
.A1{
  color: skyblue;
}
.A2{
  color: rgb(255, 192, 203) ;
}